@charset "UTF-8";
/* CSS Document */
.title {
  text-align: center;
  margin-bottom: 80px;
}
.title h2 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 5px;
  width: 330px;
  margin: 80px auto 10px;
  border-bottom: 4px solid #6AC5B0;
}
.title p {
  font-size: 20px;
  font-weight: bold;
}
/*--------------------------------*/
.music{
  padding: 50px 0;
  background-color: #F5FEFC;
  margin-bottom: 50px;
}
.cafe{
  padding-bottom: 50px;
}
.music h3,
.cafe h3{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}
.music p,
.cafe p{
  line-height: 1.5em;
  text-align: center;
  width: 90%;
  min-width: 350px;
  margin: 0 auto;
  padding-bottom: 20px;
}
.music__photo,
.cafe__photo{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.music__photo li,
.cafe__photo li{
  width: 250px;
  height: 250px;
  margin: 0 auto 30px;
  border-radius: 5px;
}
img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}

