@charset "UTF-8";
/* CSS Document */
/*-------------Top-------------------*/
.top {
  margin-bottom: 150px;
  width: 90%;
  display: flex;
}
.top-mainvisual-wrapper {
  width: 68.53%;
  height: auto;
  object-fit: cover;
  object-position: 0% 0%;
  margin: 0 0 0 auto;
}
.top-mainvisual {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.top__text-wrapper {
  padding-top: 120px;
  position: relative;
}
.top h2 {
  font-size: 34px;
  font-weight: bold;
  line-height: 1.5em;
}
.top-arrow-text{
  padding-top: 32px;
  padding-left: 12%;
  font-size: 20px;
}
.top-arrow {
  content: "";
  width: 2px;
  position: absolute;
  left: 26%;
  background-color: #333;
  animation: pathmove 1.4s ease-in-out infinite;
  opacity:0;
}
@keyframes pathmove{
  0%{
    height: 0px;
    top: 350px;
    opacity: 0;
  }
  30%{
    height: 50px;
    opacity: 1;
  }
  100%{
    height:0;
    top: 380px;
    opacity: 0;
  }
}
@media (max-width: 1024px){
  .top{
    display: block;
  }
  .top__text-wrapper {
  padding-top: 20px;
}
  .top h2{
    padding: 0;
  }
  .top-mainvisual-wrapper {
  width: 100%;
  height: auto;
  margin: -30px auto 0;
}
  .top-arrow-text, 
  .top-arrow{
    display: none;
  }
}
/*-------------メイン共通-------------------*/
.main-content h2 {
  font-size: 34px;
  font-weight: 500;
  text-align: center;
  padding-bottom: 10px;
}
.main-content h2::before {
  display: inline-block;
  content: "";
  width: 66px;
  height: 2px;
  background-color: #333;
  margin-right: 10px;
  vertical-align: middle;
}
.main-content h2::after {
  display: inline-block;
  content: "";
  width: 66px;
  height: 2px;
  background-color: #333;
  margin-left: 10px;
  vertical-align: middle;
}
.main-content h2 + p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
}
.main-content section {
  margin-bottom: 150px;
}
/*-------------About-------------------*/
.about{
  background: #F5FEFC;
  padding: 100px 0 100px;
}
.about__wrapper {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 0 40px;
}
.about-photo {
  width: 380px;
  margin: 0 auto 20px;
}
.about-photo img {
  width: 380px;
  height: 380px;
  border-radius: 380px;
  object-fit: cover;
}
.about__text {
  flex-basis: 50%;
  margin-left: 10px;
}
.about__text h3 {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 25px;
}
.about__text ol {
  padding-bottom: 22px;
}
.about__text li {
  display: flex;
  line-height: 1.5em;
}
.about__text li time {
  width: 25%;
}
.about__text li p {
  width: 75%;
}
.about__text > p {
  padding-bottom: 55px;
  line-height: 1.5em;
}
.about .button {
  margin: 0;
}
@media (max-width: 1024px) {
  .about__wrapper {
    display: block;
  }
  .about__text {
    max-width: 800px;
    margin: 0 auto;
  }
  .about__text h3 {
    text-align: center;
  }
  .about .button {
    margin: 0 auto;
  }
}
@media (max-width: 500px){
  .wrapper{
    width: 100%;
  }
  .top{
    margin-bottom: 100px;
  }
  .top__text-wrapper h2{
    margin-left: 20px;
  }
  .top-mainvisual-wrapper{
    width: 90%;
    margin: -50px auto 0;
  }
  .about-photo{
    width: 200px;
  }
  .about-photo img {
  width: 200px;
  height: 200px;
  }
  .about__text li {
  display: block;
  padding-bottom: 10px
}
}
/*-------------Works-------------------*/
.works {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}
.works li {
  padding-bottom: 100px;
}
.works__wrapper {
  display: flex;
  align-items: flex-start;
}
.works__wrapper.even {
  flex-flow: row-reverse;
}
.works__mock {
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0 20px;
  border: 1px solid #000;
  border-radius: 10px;
}
.works__mock a:hover img {
  transform: scale(1.08);
  opacity: 0.7;
  transition: all .5s;
}
.works__mock img {
  display: block;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  transition: all .5S;
}
.works__mock.banner img {
  width: 80%;
  padding: 20px 0;
  margin: 0 auto;
}
.works__description {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0 0 20px;
}
.works__description h3 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 25px;
}
.works__description h3 span {
  font-size: 20px;
}
.works__description dl dt {
  font-weight: bold;
  font-size: 13px;
  line-height: 1.5em;
}
.works__description dl dd {
  padding-bottom: 8px;
  line-height: 1.5em;
}
@media (max-width: 1024px) {
  .works li {
    padding-bottom: 60px;
  }
  .works__wrapper {
    display: block;
  }
  .works__description {
    padding: 20px 0 0 10px;
  }
}
/*--------------Skill------------------*/
.skill{
  background-color: #F5FEFC;
  padding: 100px 0;
}
.skill__container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 100px;
}
.skill ul li{
  width: 350px;
  margin: 0 auto;
  padding: 0 20px;
}
.skill ul li p{
  display: inline-block;
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 27px;
  vertical-align: middle;
}
.skill ul li p:first-child{
  width: 170px;
}
.skill__sidecolor{
  display: inline-block;
  width: 8px;
  height: 30px;
  margin-right: 6px;
  vertical-align: sub;
}
.ps{
  background-color: #229BFF;
}
.ai{
  background-color: #FF8400;
}
.fig{
  background-color: #9338EB;
}
.ae{
  background-color: #9999F8;
}
.pr{
  background-color: #000057;
}
.dw{
  background-color: #FF50F4;
}
.vsce{
  background-color: #1F9CF0;
}
.st{
  background-color: #FFAB36;
}
.HTML{
  background-color: #E44F26;
}
.CSS{
  background-color: #1572B6;
}
.jq{
  background-color: #0868AC
}
.js{
  background-color: #F7DF1E
}
/*-------------Hobbies-------------------*/
.hobbies__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}
.hobbies li {
  margin: 0 40px;
  padding-bottom: 100px;
}
.hobbies figure {
  width: 350px;
  height: 310px;
}
.hobbies img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  margin-bottom: 20px;
}
.hobbies h3 {
  font-size: 20px;
  font-weight: bold;
}