@charset "UTF-8";
/* CSS Document */
.wrapper {
  width: 100%;
  margin: 0 auto;
}
.title {
  text-align: center;
  margin-bottom: 80px;
}
.title h2 {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 5px;
  width: 330px;
  margin: 80px auto 10px;
  border-bottom: 4px solid #6AC5B0;
}
.title p {
  font-size: 20px;
  font-weight: bold;
}
/*-----------作品--------------*/
.work__container {
  display: flex;
  flex-wrap: wrap;
  justify-content:flex-start;
  padding-bottom: 120px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.work {
  flex-basis: 50%;
  min-width: 350px;
  margin: 0 auto;
}
.work a {
  display: block;
}
.work__mock{
  margin-bottom: 40px;
}
.work__mock::after{
  display: block;
  content: "";
  height: 1px;
  width: 90%;
  margin: 0 auto;
  background-color: #999;
}
.work:nth-child(even) .work__mock a{
  border-left: 1px solid #999;
}
.work__mock a{
  margin-bottom: 35px;
}
.work a img {
  width: 100%;
  height: auto;
  transition: all 0.5s;
  padding-bottom: 25px;
}
.work__banner{
  width: 78.07%;
  margin: 0 auto;
}
.work a:hover img {
  transform: scale(1.05);
  opacity: 0.7;
  transition: all 0.5s;
}
.work h3 {
  font-size: 22px;
  line-height: 1.5em;
  font-weight: bold;
  padding-bottom: 40px;
}
.work__chirashi{
  width: 40%;
  margin: 0 auto;
}
@media (max-width: 750px){
  .work {
  width: 100%;
  min-width: 350px;
}
  .work__mock{
    border-bottom: 1px solid #999;
  }
  .work__mock::after{
  display: none;
}
  .work:nth-child(even) .work__mock a{
  border-left: none;
}
}